<h2>Active bets:</h2> 
{{#each deBets as |bet|}}
<div class = "container">
<section class="active-bet">
  <div class="bet-header">
    <h3> The Bet: {{bet.terms}}</h3>
    <h4> The Bettors:</h4>
    {{!-- <p>{{{destruct_users bet.users}}}</p> --}}
    <h4> The Prize:</h4>
    <p>{{bet.prize}}</p>
    <p>{{bet.id}}</p>

  <div class="dropdown">
  <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Result(Select)
  <span class="caret"></span></button>
  <ul class="dropdown-menu">
    <form action="/api/history/status/wins/{{bet.id}}?_method=PUT" method="POST">
      <li><input class = "valueSubmit" type = "submit" name = "wins" value = "Win"></li>
    </form>
    <form action="/api/history/status/losses/{{bet.id}}?_method=PUT" method="POST"></form>
      <li><input class = "valueSubmit" type = "submit" name = "losses" value = "Loss"></li>
    </form>
    
  </ul>
  </div>
  </div>
  </section>
</div>

{{/each}}

