
<h6 class='activeBets'>Active Bets</h6> 

<div class = "container4">
{{#each deBets as |bet|}}
<section class="active-bet">
  <div class="bet-header">
    <h4> The Bet: </h4>
  <p>{{bet.terms}}</p>
    <h4> The Bettors:</h4>
    {{!-- <p>{{{destruct_users bet.users}}}</p> --}}
    <h4> The Prize:</h4>
    <p>{{bet.prize}}</p>

  <div class="dropdown">
  <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Result(Select)
  <span class="caret"></span></button>
  <ul class="dropdown-menu">
    <form action="/api/bets/status/wins/{{bet.id}}?_method=PUT" method="POST">
      <li><input class = "valueSubmit" type = "submit" name = "wins" value = "Win"></li>
    </form>
    <form action="/api/bets/status/losses/{{bet.id}}?_method=PUT" method="POST">
      <li><input class = "valueSubmit" type = "submit" name = "losses" value = "Loss"></li>
    </form>
  </ul>
  </div>
  </div>
  </section>
</div>

{{/each}}

